<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Salespaddock</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
</head>
<body>
  <title> Forgot Password - SalesPaddock</title>

<form id="reset_password">
  <div class="offerListDetails col-xs-12 zeroPadding">
    <br>
    <div class="container">
      <div class="itemSellLocally col-xs-12 zeroPadding marginPadding">
        <div class="col-xs-12 offersFollowers">
          <div class="followList col-xs-12 zeroPadding boxShadowList">
            <div class="followHeader padMore text-center">
              ENTER NEW PASSWORD
            </div>
              <div class="form-group">
                  <input type="hidden" name="id" id="id" value="{{token}}" class="form-control input-md">
              </div>
            <div class="settingListDetails col-xs-12 col-sm-8 col-sm-offset-2 padMore">
              <div class="col-xs-12 zeroPadding form-group">
                <div class="col-xs-12 zeroPadding sizeSmall">New Password: <div id="alertdiv"></div></div>
                <div class="col-xs-12 zeroPadding">
                  <input type="password" name="password" class="form-control inputSettings" placeholder="New Password">
                </div>
              </div>
              <div class="col-xs-12 zeroPadding form-group">
                <div class="col-xs-12 zeroPadding sizeSmall">New Password (again):</div>
                <div class="col-xs-12 zeroPadding">
                  <input type="password" name="password_confirmation" class="form-control inputSettings" placeholder="New Password (again)">
                </div>
              </div>
            </div>
            <div class="col-xs-12 text-center successLink" style="display:none;color:#00ab80">Success...</div>
            <hr class="col-xs-12 zeroPadding marginPadding">
            <div class="submitSave col-xs-12 padMore text-center">
              <div class="loaderGif"></div>
              <button type="button" id="submitButton" class="btn btnSettingsSave" style="width: 150px;" onclick="passwordChange()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

  <script type="text/javascript" charset="utf-8">
      function passwordChange()
      {
          var linkOfMessage = document.getElementById("alertdiv");
          linkOfMessage.style.color = "red";
          if(!document.getElementsByName('password')[0].value)
          {
              document.getElementById('alertdiv').innerHTML="Password cannot be empty";
              return false;
          }
          else
              document.getElementById('alertdiv').innerHTML = "";

          if(!document.getElementsByName('password_confirmation')[0].value)
          {
              document.getElementById('alertdiv').innerHTML="confirm password value cannot be empty";
              return false;
          }
          else
              document.getElementById('alertdiv').innerHTML = "";

          if(document.getElementsByName('password')[0].value != document.getElementsByName('password_confirmation')[0].value)
          {
              document.getElementById('alertdiv').innerHTML="Password and confirm password must be same";
              return false;
          }

          if(document.getElementsByName('password')[0].value.length < 8)
          {
              document.getElementById('alertdiv').innerHTML="Password atleast 8 characters long required";
              return false;
          }

          var formData = JSON.stringify($("#reset_password").serializeArray());
          $.ajax({
              type: "POST",
              url: "http://salespaddock-2060556237.us-west-2.elb.amazonaws.com:5007/resetPassword",
              dataType: "json",
              contentType : "application/json",
              data : formData,
              success : function(response) {
                  if(response.errCode == 1)
                  {
                      document.getElementById('alertdiv').innerHTML= response.Message;
                      linkOfMessage.style.fontSize = "large";
                  }
                  else
                  {
                      document.getElementById('alertdiv').innerHTML="Password change successfully.";
                      var link = document.getElementById('submitButton');
                      link.style.display = 'none'; //or
                      linkOfMessage.style.color = 'green'; //or
                      linkOfMessage.style.fontSize = "large";
                  }
              }

          });
      }
  </script>
</body>
</html>
